@import "../../styles/color-themes";
@import "../../styles/font-size";

.hourly {
  grid-column: span 4;
  grid-row: 4;
  display: flex;
  flex-direction: column;
  .title {
    @include theme() {
      color: get-color("text");
    }
    font-family: "Frank Ruhl Libre", serif;
    font-size: $headline4-font-size;
    font-weight: 700;
    margin-bottom: -5px;
  }
  .hourly-items-container {
    white-space: nowrap;
    overflow-x: hidden;
    cursor: pointer;
    .hourly-item-container {
      &.active {
        @include theme() {
          background-color: get-color("background-card");
          color: get-color("text");
          box-shadow: 0px 5px 10px 0px get-color("color-shadow");
          font-weight: 600;
        }
      }
      @include theme() {
        background-color: get-color("background-unselected-card");
        color: get-color("text-secondary");
        box-shadow: 0;
        font-weight: 400;
      }
      display: inline-block;
      height: 120px;
      width: 75px;
      margin: 15px 5px;
      border-radius: 15px;
      transition: all 0.5s ease;
      transform: 250ms;
    }
  }
}
