@import "../../styles/color-themes";
@import "../../styles/media-queries";
@import "../../styles/variables";
@import "../../styles/font-size";

.info-popup {
  @include mobile-small-portrait {
    padding: $mobile-small-portrait-grid-gap;
  }
  @include mobile-small-landscape {
    padding: $mobile-small-landscape-grid-gap;
  }
  @include mobile-portrait {
    padding: $mobile-portrait-grid-gap;
  }
  @include mobile-landscape {
    padding: $mobile-landscape-grid-gap;
  }
  @include tablet-portrait {
    padding: $tablet-portrait-grid-gap;
  }
  @include tablet-landscape {
    padding: $tablet-landscape-grid-gap;
  }
  @include desktop {
    padding: $desktop-grid-gap;
  }
  @include theme() {
    color: get-color("text");
    background-color: get-color("background-card");
    box-shadow: 0px 5px 10px 0px get-color("color-shadow");
  }
  font-family: "Barlow", sans-serif;
  font-size: $body2-font-size;
  text-align: center;
  a {
    @include theme() {
      color: get-color("text");
    }
    font-family: "Barlow", sans-serif;
    font-size: $body2-font-size;
    font-weight: 700;
  }
}
.container {
  @include mobile-small-portrait {
    width: $mobile-small-portrait-width;
    padding: $mobile-small-portrait-padding-top-bottom
      $mobile-small-portrait-padding-left-right;
    .grid-container {
      display: grid;
      grid-template-columns: repeat($mobile-small-portrait-grid-columns, 1fr);
      grid-template-rows: repeat($mobile-small-portrait-grid-rows, auto);
      column-gap: $mobile-small-portrait-grid-gap;
      row-gap: $mobile-small-portrait-grid-gap;
    }
    .loading-contianer {
      width: $mobile-small-portrait-width;
      height: 100vh;
    }
  }
  @include mobile-small-landscape {
    width: $mobile-small-landscape-width;
    padding: $mobile-small-landscape-padding-top-bottom
      $mobile-small-landscape-padding-left-right;
    .grid-container {
      display: grid;
      grid-template-columns: repeat($mobile-small-landscape-grid-columns, 1fr);
      grid-template-rows: repeat($mobile-small-landscape-grid-rows, auto);
      column-gap: $mobile-small-landscape-grid-gap;
      row-gap: $mobile-small-landscape-grid-gap;
    }
    .loading-contianer {
      width: $mobile-small-landscape-width;
      height: 100vh;
    }
  }
  @include mobile-portrait {
    width: $mobile-portrait-width;
    padding: $mobile-portrait-padding-top-bottom
      $mobile-portrait-padding-left-right;
    .grid-container {
      display: grid;
      grid-template-columns: repeat($mobile-portrait-grid-columns, 1fr);
      grid-template-rows: repeat($mobile-portrait-grid-rows, auto);
      column-gap: $mobile-portrait-grid-gap;
      row-gap: $mobile-portrait-grid-gap;
    }
    .loading-contianer {
      width: $mobile-portrait-width;
      height: 100vh;
    }
  }
  @include mobile-landscape {
    width: $mobile-landscape-width;
    padding: $mobile-landscape-padding-top-bottom
      $mobile-landscape-padding-left-right;
    .grid-container {
      display: grid;
      grid-template-columns: repeat($mobile-landscape-grid-columns, 1fr);
      grid-template-rows: repeat($mobile-landscape-grid-rows, auto);
      column-gap: $mobile-landscape-grid-gap;
      row-gap: $mobile-landscape-grid-gap;
    }
    .loading-contianer {
      width: $mobile-landscape-width;
      height: 100vh;
    }
  }
  @include tablet-portrait {
    width: $tablet-portrait-width;
    padding: $tablet-portrait-padding-top-bottom
      $tablet-portrait-padding-left-right;
    .grid-container {
      display: grid;
      grid-template-columns: repeat($tablet-portrait-grid-columns, 1fr);
      grid-template-rows: repeat($tablet-portrait-grid-rows, auto);
      column-gap: $tablet-portrait-grid-gap;
      row-gap: $tablet-portrait-grid-gap;
    }
    .loading-contianer {
      width: $tablet-portrait-width;
      height: 100vh;
    }
  }
  @include tablet-landscape {
    width: $tablet-landscape-width;
    padding: $tablet-landscape-padding-top-bottom
      $tablet-landscape-padding-left-right;
    .grid-container {
      display: grid;
      grid-template-columns: repeat($tablet-landscape-grid-columns, 1fr);
      grid-template-rows: repeat($tablet-landscape-grid-rows, auto);
      column-gap: $tablet-landscape-grid-gap;
      row-gap: $tablet-landscape-grid-gap;
    }
    .loading-contianer {
      width: $tablet-landscape-width;
      height: 100vh;
    }
  }
  @include desktop {
    width: $desktop-width;
    padding: $desktop-padding-top-bottom $desktop-padding-left-right;
    .grid-container {
      display: grid;
      grid-template-columns: repeat($desktop-grid-columns, 1fr);
      grid-template-rows: repeat($desktop-grid-rows, auto);
      column-gap: $desktop-grid-gap;
      row-gap: $desktop-grid-gap;
    }
    .loading-contianer {
      width: $desktop-width;
      height: 100vh;
    }
  }
  margin-left: auto;
  margin-right: auto;
}
