@import "../../styles/color-themes";
@import "../../styles/media-queries";
@import "../../styles/variables";
@import "../../styles/font-size";
@import "../../styles/animation";

.container {
  @include mobile-small-portrait {
    width: $mobile-small-portrait-width;
    padding: $mobile-small-portrait-padding-top-bottom
      $mobile-small-portrait-padding-left-right;
    .grid-container {
      display: grid;
      grid-template-columns: repeat($mobile-small-portrait-grid-columns, 1fr);
      grid-template-rows: repeat($mobile-small-portrait-grid-rows, auto);
      column-gap: $mobile-small-portrait-grid-gap;
      row-gap: $mobile-small-portrait-grid-gap;
      animation: fadein $animation-time;
    }
  }
  @include mobile-small-landscape {
    width: $mobile-small-landscape-width;
    padding: $mobile-small-landscape-padding-top-bottom
      $mobile-small-landscape-padding-left-right;
    .grid-container {
      display: grid;
      grid-template-columns: repeat($mobile-small-landscape-grid-columns, 1fr);
      grid-template-rows: repeat($mobile-small-landscape-grid-rows, auto);
      column-gap: $mobile-small-landscape-grid-gap;
      row-gap: $mobile-small-landscape-grid-gap;
      animation: fadein $animation-time;
    }
  }
  @include mobile-portrait {
    width: $mobile-portrait-width;
    padding: $mobile-portrait-padding-top-bottom
      $mobile-portrait-padding-left-right;
    .grid-container {
      display: grid;
      grid-template-columns: repeat($mobile-portrait-grid-columns, 1fr);
      grid-template-rows: repeat($mobile-portrait-grid-rows, auto);
      column-gap: $mobile-portrait-grid-gap;
      row-gap: $mobile-portrait-grid-gap;
      animation: fadein $animation-time;
    }
  }
  @include mobile-landscape {
    width: $mobile-landscape-width;
    padding: $mobile-landscape-padding-top-bottom
      $mobile-landscape-padding-left-right;
    .grid-container {
      display: grid;
      grid-template-columns: repeat($mobile-landscape-grid-columns, 1fr);
      grid-template-rows: repeat($mobile-landscape-grid-rows, auto);
      column-gap: $mobile-landscape-grid-gap;
      row-gap: $mobile-landscape-grid-gap;
      animation: fadein $animation-time;
    }
  }
  @include tablet-portrait {
    width: $tablet-portrait-width;
    padding: $tablet-portrait-padding-top-bottom
      $tablet-portrait-padding-left-right;
    .grid-container {
      display: grid;
      grid-template-columns: repeat($tablet-portrait-grid-columns, 1fr);
      grid-template-rows: repeat($tablet-portrait-grid-rows, auto);
      column-gap: $tablet-portrait-grid-gap;
      row-gap: $tablet-portrait-grid-gap;
      animation: fadein $animation-time;
    }
  }
  @include tablet-landscape {
    width: $tablet-landscape-width;
    padding: $tablet-landscape-padding-top-bottom
      $tablet-landscape-padding-left-right;
    .grid-container {
      display: grid;
      grid-template-columns: repeat($tablet-landscape-grid-columns, 1fr);
      grid-template-rows: repeat($tablet-landscape-grid-rows, auto);
      column-gap: $tablet-landscape-grid-gap;
      row-gap: $tablet-landscape-grid-gap;
      animation: fadein $animation-time;
    }
  }
  @include desktop {
    width: $desktop-width;
    padding: $desktop-padding-top-bottom $desktop-padding-left-right;
    .grid-container {
      display: grid;
      grid-template-columns: repeat($desktop-grid-columns, 1fr);
      grid-template-rows: repeat($desktop-grid-rows, auto);
      column-gap: $desktop-grid-gap;
      row-gap: $desktop-grid-gap;
      animation: fadein $animation-time;
    }
  }
  margin-left: auto;
  margin-right: auto;
}
