@import "../../styles/color-themes";
@import "../../styles/font-size";

.daily-item {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  font-family: "Barlow", sans-serif;
  font-size: $body2-font-size;
  .icon-small {
    width: 40px;
  }
  .day {
    flex: 1;
    margin-left: 15px;
    @include theme() {
      color: get-color("text");
    }
  }
  .min-max {
    @include theme() {
      color: get-color("text-secondary");
    }
  }
}
