@import "../../styles/color-themes";
@import "../../styles/font-size";

.daily {
  grid-column: span 4;
  grid-row: 5;
  display: flex;
  flex-direction: column;
  .title {
    @include theme() {
      color: get-color("text");
    }
    font-family: "Frank Ruhl Libre", serif;
    font-size: $headline4-font-size;
    font-weight: 700;
    margin-bottom: -5px;
  }
  .daily-items-container {
    margin-top: 10px;
    .daily-item {
      @include theme() {
        background-color: get-color("background-card");
        box-shadow: 0px 5px 10px 0px get-color("color-shadow");
      }
      height: 40px;
      margin: 5px;
      border-radius: 15px;
    }
    .daily-item-header {
      height: 0;
      transition: height 0.5s ease;
      transform: 250ms;
      overflow: hidden;
      &.active {
        height: 100px;
      }
    }
    .daily-item-details {
      display: flex;
      @include theme() {
        color: get-color("text");
      }
      font-family: "Barlow", sans-serif;
      font-size: $body2-font-size;
      .daily-details-grid {
        flex: 1;
        display: grid;
        grid-template-rows: 30px 30px 30px;
        grid-template-columns: auto auto;
        row-gap: 0;
        column-gap: 15px;
        padding: 5px 15px;
        .daily-details-grid-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          label:first-child {
            @include theme() {
              color: get-color("text-secondary");
            }
            font-family: "Barlow", sans-serif;
            font-size: $body2-font-size;
          }
          label:last-child {
            @include theme() {
              color: get-color("text");
            }
            font-family: "Barlow", sans-serif;
            font-size: $body2-font-size;
          }
        }
      }
    }
  }
}
