@import "../../styles/color-themes";
@import "../../styles/font-size";

.daily {
  grid-column: span 4;
  grid-row: 5;
  display: flex;
  flex-direction: column;
  .title {
    @include theme() {
      color: get-color("text");
    }
    font-family: "Frank Ruhl Libre", serif;
    font-size: $headline4-font-size;
    font-weight: 700;
    margin-bottom: -5px;
  }
  .daily-items-container {
    .daily-item {
      @include theme() {
        background-color: get-color("background-card");
        box-shadow: 0px 5px 10px 0px get-color("color-shadow");
      }
      height: 40px;
      margin: 10px 5px;
      border-radius: 15px;
    }
  }
}
