@import "../../styles/color-themes";

.city {
  @include theme() {
    color: get-color("text");
  }
  font-family: "Frank Ruhl Libre", serif;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: -5px;
}

.country {
  @include theme() {
    color: get-color("text");
  }
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  margin-bottom: 2px;
}

.date {
  @include theme() {
    color: get-color("text-secondary");
  }
  font-family: "Barlow", sans-serif;
  font-size: 14px;
}
