.city {
  color: white;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: -5px;
}

.country {
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  margin-bottom: 2px;
}

.date {
  color: #bdbdbd;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
}
