@import "../../styles/color-themes";
@import "../../styles/font-size";

.location {
  grid-column: span 3;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  .city {
    @include theme() {
      color: get-color("text");
    }
    font-family: "Frank Ruhl Libre", serif;
    font-size: $headline2-font-size;
    font-weight: 900;
    margin-bottom: -5px;
  }
  .country {
    @include theme() {
      color: get-color("text");
    }
    font-family: "Barlow", sans-serif;
    font-size: $subtitle1-font-size;
    margin-bottom: 2px;
  }
  .date {
    @include theme() {
      color: get-color("text-secondary");
    }
    font-family: "Barlow", sans-serif;
    font-size: $body2-font-size;
  }
}
.settings {
  display: flex;
  justify-content: flex-end;
  .button-theme {
    @include theme() {
      color: get-color("text");
    }
    font-size: $headline4-font-size;
    cursor: pointer;
  }
}
.search {
  display: flex;
  justify-content: flex-end;
  .input {
    background-color: transparent;
    border: 0;
    text-align: end;
    font-size: $body2-font-size;
    font-family: "Barlow", sans-serif;
    width: 100%;
    @include theme() {
      color: get-color("text");
      border-bottom: 1px solid get-color("text");
    }
  }
}
