@import "../../../styles/color-themes";
@import "../../../styles/font-size";

.loading {
  @include theme() {
    color: get-color("text");
  }
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Barlow", sans-serif;
  font-size: $caption-font-size;
}
