@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;600;700&family=Frank+Ruhl+Libre:wght@400;700;900&display=swap");
@import "./styles/color-themes";

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  @include theme() {
    background-color: get-color("background");
  }
  min-height: 100vh;
  height: auto !important;
  width: 100%;
}
