@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;600;700&family=Frank+Ruhl+Libre:wght@400;700;900&display=swap");
@import "./styles/color-themes";

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  @include theme() {
    background-color: get-color("background");
  }
  height: 100%;
  width: 100%;
  transition: background-color 0.5s ease;
  transform: 250ms;
}

// scrollbar
::-webkit-scrollbar {
  height: 7px;
}
::-webkit-scrollbar-track {
  @include theme() {
    background: get-color("background-unselected-card");
  }
}
::-webkit-scrollbar-thumb {
  @include theme() {
    background: get-color("background-card");
  }
}
::-webkit-scrollbar-thumb:hover {
  @include theme() {
    background: get-color("text");
  }
}
