@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;600;700&family=Frank+Ruhl+Libre:wght@400;700;900&display=swap");
@import "./styles/color-themes";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  height: 100vh;
  width: 100vw;
  transition: background-color 0.5s ease;
  transform: 250ms;
  @include theme() {
    background-color: get-color("background");
  }
}
